body
 {
    font-family: "Roboto", sans-serif !important;
    /* font-family: 'Courier Prime', monospace; */
    color: #000;
    background-image: url(../images/abstraction_stains_paint_159223_1280x720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;

}
.navbar{
    background: #3d2c70;
    
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}



.profil-bg {
    height: 450px;
    /* background-image: url(../images/scarf_background.jpg);
    background-size: cover; */

}

.profil-display {
    background: rgba(255, 255, 255, 0.7);
    margin-top: 6%;
    position: relative;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

}


.profil-display p {
    padding-left: 250px;
    ;
}

.middle-block {
    /*   height: 350px;
  background-image: url(../images/scarf_background.jpg);
    background-size: cover; */
}

.profil-img {
    position: absolute;
    top: 25px;
    left: 25px;
}

.my-card {
    height: 502px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.contact-img,
.contact-form {
    background: #eee;
}

.contact-img img {
    width: 100%;
}

.footer{
    background: #000;
    text-align: center;
    font-size: 1em;
    height: 80px;
    line-height: 80px;
    position: sticky;
    bottom: -15px;
    width: 100%;
    color: white;
}

@media screen and (max-width: 600px) {
    .myprofilbox{
      display: flex;
      flex-direction: column ;
      background:green;
    }
  }