body,html{
    font-family: Georgia, 'Times New Roman', Times, serif;
  background: #eee;

} 

.profil-bg{
    height:  450px;
    background-image:  url(../images/scarf_background.jpg) ;
    background-size: cover;

}
.profil-display{
    background: rgba(255, 255, 255, 0.7);
    margin-top: 6%;
    position: relative;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   
}


.profil-display p{
    padding-left: 250px;;
}
.middle-block{
    height: 350px;
    background-image:  url(../images/scarf_background.jpg) ;
    background-size: cover;
    

}
.profil-img{
position: absolute; 
top:25px;
left:25px;
}

.my-card{
    height: 502px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.contact-img ,.contact-form{
    background: #eee;

    
}
.contact-img img{
    width: 100%;
}